<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>JavaScript Sample</title>
		<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
		<script type="text/javascript" src="/js/sample.js" th:src="@{/js/sample.js}"></script>
	</head>
	<body>
		<h1>JavaScript Sample</h1>
		<form>
			<input type="text" id="tex" />
			<input type="button" id="btn" value="送信" onClick="btnClick()" />
		</form>
		<div id="resultArea"></div>
	</body>
</html>
